.main_page{
    text-align: center;
}

.title{
    font-family: "Abril Fatface","times new roman", "sans-serif";
    font-size: 44px;
}

.page_intro,
.recipe_text{
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
}

.recipes_list{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    list-style: none;
}

.imagenes{
    height: 500px;
    width: auto;
}

.list{
    list-style-type: none;
}